In [21]:
import sys
import datetime
import matplotlib.pyplot as plt
sys.path.insert(0, r"/mnt/c/Users/Trez/Desktop/tudat-bundle/tudatpy/")
from tudatpy.data.horizons import HorizonsQuery
from tudatpy.data.mpc import BatchMPC
import time
import matplotlib.pyplot as plt
import numpy as np

In [22]:
start_dt = datetime.datetime(2018, 6, 1)
end_dt = datetime.datetime(2023, 6, 1)

In [23]:
batch = BatchMPC()
codes = list(range(1, 50 + 1))
batch.get_observations(codes)

   Batch Summary:
1. Batch includes 50 minor planets:
   ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50']
2. Batch includes 315796 observations, including 97443 observations from space telescopes
3. The observations range from 1801-01-01 19:49:52.319986 to 2023-08-29 15:19:45.580815
   In seconds TDB since J2000: -6279782975.49596 to 746594454.7635019
   In Julian Days: 2378862.3263 to 2460186.138722
4. The batch contains observations from 726 observatories, including 3 space telescopes

In [31]:
batch.filter(epoch_start=start_dt, epoch_end=end_dt)
batch.summary()

   Batch Summary:
1. Batch includes 50 minor planets:
   ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50']
2. Batch includes 135764 observations, including 92332 observations from space telescopes
3. The observations range from 2018-06-01 05:51:39.744013 to 2023-05-31 07:16:04.771217
   In seconds TDB since J2000: 581104368.9289123 to 738789433.9561567
   In Julian Days: 2458270.74421 to 2460095.802833
4. The batch contains observations from 144 observatories, including 3 space telescopes

In [25]:
space_telescopes = (batch.observatories_table(only_space_telescopes=True))
print(space_telescopes)
space_telescopes = space_telescopes.Name.iloc[1:].tolist()
print(space_telescopes)

     Code             Name    count
247   247  Roving Observer      6.0
1225  C51             WISE   4745.0
1231  C57             TESS  87581.0
['WISE', 'TESS']

In [30]:
wise_query = HorizonsQuery(
    query_id="WISE",
    location="399",
    epoch_start=start_dt,
    epoch_end=end_dt,
    epoch_step="1h",
    extended_query=True
)
tess_query = HorizonsQuery(
    query_id="TESS",
    location="399",
    epoch_start=start_dt,
    epoch_end=end_dt,
    epoch_step="1h",
    extended_query=True
)

wise_query.carthesian("earth")
len(tess_query.carthesian("earth"))

43825